@media (max-width: 768px)
	.nav    
		flex-direction: column
		img
			display: block
			margin: 0 auto
		&__menu
			line-height: 30px
			text-align: center
	.story            
		&__wrapper
			flex-direction: column    
		img
			margin: 0       
		&__title
			margin: 0
			margin-top: 30px
			text-align: center
		&__descr
			text-align: center
			margin-right: 50px
			margin-left: 50px
		button
			display: block
			margin: 0 auto
			margin-bottom: 70px
@media (max-width: 425px)
	.promo__title
		margin-top: 100px